pkgbase = wg++
	pkgdesc = WebGrab+Plus is a multi-site incremental xmltv epg grabber
	pkgver = 5.0.1.1
	pkgrel = 4
	url = http://webgrabplus.com/
	arch = any
	license = custom
	makedepends = subversion
	depends = dotnet-runtime-6.0-bin
	provides = wg++=5.0.1.1
	conflicts = wg++
	source = http://www.webgrabplus.com/sites/default/files/download/SW/V4.2.2/WebGrabPlus_V4.2_install.tar.gz
	source = https://github.com/SilentButeo2/webgrabplus-siteinipack/raw/master/evaluation-builds/WebGrabPlus_V5.0.1.1_eval_install.zip
	source = http://webgrabplus.com/sites/default/files/download/documentation/Manual%2C%20documentation%20update%20V3.0/Documentation.V3.0.pdf
	source = wgpp.sh
	sha256sums = bea2b13a4a0ae253b6ecb8135abb39dc43dd1cd1acaf7c4cb4241f978874cb41
	sha256sums = c6b2e2337323d456cf6097d0e04ce154f709acfe2b9384259a982354cb852e8d
	sha256sums = af12ec4f4e21242ff38392c1cc905ca6b539f323bedef2a364a19be5f16be656
	sha256sums = 696f7e566dcb454edff810c5517353e7d54565dde30ebd789b04da3c34378886

pkgname = wg++
